img {
	display: block;
    margin: auto;
    width: 10%;
    height: 10%;
}

p {
	color: white;
	text-align: left;
}

h3 {
	color: #0080A5;
	text-align: left;
}

h1 {
	color: #035480;
	text-align: center;
	letter-spacing: 3px;			
}

h2 {
	color: white;
	text-align: center;	
}

.leftside {
	float: left;
    margin: 5%;
    padding: 5%;
    width: 20%;
    background-color: #0095BD;
}

.rightside {
	float: right;
    margin: 5%;
    padding: 5%;
    width: 20%;
    background-color: #0095BD;
}

.top {
	background-color: #035480;
	padding: 10%;
	height: 10%;
}

.bottom {
	position: absolute;
	bottom: 0;
	color: #ffffff;
	background-color: #035480;
	text-align: center;
	height: 5%;
}

body {
	background-color: black;
}