img {
	display: block;
    margin: auto;
    width: 10%;
    height: 10%;
}

header {
	color: #035480;
	text-align: center;
	letter-spacing: 3px;
}

p {
	color: white;
	text-align: left;
}

h3 {
	color: #0080A5;
	text-align: left;
}

h1 {
	color: white;
	text-align: center;				
}

.left {
	position: absolute;
    margin: 5%;
    padding: 5%;
    width: 40%;
    background-color: #00BDB4;
}

.right {
	position: absolute;
    margin: 5%;
    padding: 5%;
    width: 40%;
    background-color: #00BDB4;
}

.top {
	background-color: #035480;
	margin: 10%;
}

footer {
	position: relative;
	color: #ffffff;
	background-color: #035480;
	text-align: center;
}